<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <title>Doe Sangue</title>
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <header>
            <img class="logo" src="/assets/logo.png" alt="Imagem de DOE">
            <h2>A sua doação importa</h2>
            <p>Até 3 vidas com 1 doação.</p>
            <p>Mais de 38.000 doações são necessárias todos os dias.</p>
            <p>Apenas 1,9% da população brasileira doa sangue.</p>
            
            <a class="button" href="/donors/create">Quero ajudar</a>
        </header>  
        
        {% block content %}{% endblock %}


        <footer>Com ❤ Gian</footer>

    <script src="/scripts.js"></script>
    </body>
</html>