    <input type="text"
        name="name"
        placeholder="Nome Completo"
    >
    <input type="text"
        name="email"
        placeholder="E-mail"
    >
    <input type="text"
        name="blood"
        placeholder="Tipo sanguíneo"
    >            
<button type="submit">Quero ajudar</button>