{% extends "layout.njk" %}

{% block content %}
        <main>
            <h2>Últimos <span>doadores</span></h2>

            <section class="donors">
                {% for donor in donors %}
                    <div class="donor">
                        <div class="blood">{{donor.blood}}</div>
                        <p>{{donor.name}}</p>
                    </div>
                {% endfor %}
            </section>
        </main>
{% endblock content %}